html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

pre {
  box-shadow: rgb(0 0 0 / 8%) 0px 40px 64px -12px, rgb(0 0 0 / 5%) 0px 0px 14px -4px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
}
